
body{
  background-image: url(https://i.pinimg.com/originals/d6/08/c1/d608c1462753f7a24f7e52b0301f9dcb.jpg);
  margin: 0;
  padding: 15px;
}
h1{
  text-align: center;
  font-size: 80px;
  text-shadow: 3px 2px 5px red;
  text-transform: capitalize;
  /* background-position: 0 1.06em; */
  background-size: 28px 9px;
  color: blue;
}
.listcountry{
  height: 360px;
  width: 319px;
  border-style: dashed double;
  margin-left: 10%;
  float: left;
  background-color: #0A332B;
  position: relative;
  display: block;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;

}
.searchcountry{
  height: 500px;
  width: 319px;
  border-style: dashed double;
  margin-right: 10%;
  float: right;
  background-color: #0A332B;

}
.randomcountry{
  height: 360px;
  width: 319px;
  border-style: dashed double;
  margin-left: 40px;
  float: left;
  background-color: #0A332B;
}
#rand{
  padding:15px;
  justify-content: center;
  display: flex;
  position:absolute;
  border-radius: 10px;
  background-color: #6CB085;
  padding: 10px;
  width: 320px;

}
p{
  justify-content: center;
  text-align: center;
  line-height: 200px;
  color: white;
  font-weight: bold;
  font-size: 25px;

}
#inps{
  border-radius: 10px;
  background-color: #6CB085;
  padding: 7px;
  color:white;
  width: 300px;
  text-transform: full-width;
  font-size: 15px;
  font-weight: bold;
}
#count{
  border-radius: 10px;
  background-color: #6CB085;
  padding: 7px;
  color:white;
  width: 300px;
  text-transform: full-width;
  font-size: 15px;
  font-weight: bold;
}
#lists{
  float: none;
  align-content: center;
  font-size: 15px;
  /* margin: 0; */
  border-bottom: 6px solid white;
  margin-bottom:0;
  /* color:white; */

}
#lists ul{
  background-color: #7BC67C;
  list-style-type:none;
  margin-top:0;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}
#list ul li{
  display: flex;
  background: #0A7595;
  padding: 10px 15px;
  color white;
  margin: 5px 0;
  transition: .5s;
}

#lists li{
  background: white;
  margin:3px;
  border-radius: 5px;
  width: 260px;
  height: 25px;
  text-align: center;

}
#lists li :hover{
  width:280px;
  height:30px;
  cursor:pointer;
  box-shadow: 1px 1px 5px 0.5px;
  transform: scale(1.06);
  background: #505867;
  color:red;

}
.search1{
  float: none;
  align-content: center;
  font-size: 15px;
  margin: 0;
  border-bottom: 6px solid white;
  /* margin-bottom:0;
  color: white;
  background-color:  #7BC67C;
  padding:10px;
  box-sizing: border-box;
  margin: 3px; */
}
.search1 ul{
  background-color: #7BC67C;
  list-style-type:none;
  margin-top:0;
  }

.search1 ul li{
    display: flex;
    background: #0A7595;
    padding: 10px 15px;
    color white;
    margin: 5px 0;
    transition: .5s;
  }

.search1 li{
  background: white;
  margin:3px;
  border-radius: 15px;
  width: 260px;
  height: 25px;
  text-align: center
}

.search1 li :hover{
  cursor: pointer;
  text-align: center;
  width: 280px;

}
