body{
  background-image: url(https://www.countryreports.org/uGraphics/tempImages/selectBack.jpg);
  background-size: cover;
}
.containers{
  border: 6px solid;
  border-color: rgba(255, 255, 255, 0.4);
  width: 900px;
  margin: 50px auto;
  padding: 20px;
  height:600px;
}
.inside{
  width: 800px;
  height:500px;
  /* text-align: center; */
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 25px;
  text-decoration: none;
  font-size:16px;

}
#searchIn{
  width: 180px;
  height: 20px;
  border: 1px solid lightgrey;
  background-color: white;
  font-size: 12px;
  display: block;
  margin-left: 20%;
  float: left;
  padding: 10px;
  border-radius: 5px;
}
.randomIn{
  width: 180px;
    height: 20px;
    border: 1px solid lightgrey;
    background-color: white;
    font-size: 12px;
    display: block;
    margin-right:  20%;
    float: right;
    padding: 10px;
    border-radius: 5px;
    position: relative;

}
.inside ul{
  width: 300px;
  margin: 0 auto;
  position: relative;
  right:50%;
  /* list-style-type: none; */
  /* text-align: left; */
  /* margin-left: 0 auto; */
}
.inside li {
  /* margin-left: 330px;
  margin-top: 50px; */
  /* color: #545659; */
}
/* ul li:hover{
  background-color: lightgrey;
  color: white;
  font-size: 16px;
  transition-duration:0.5s;
} */
